*.env
node_modules
coursesResources
serviceAccount.json
build
Rotoplas
certificates
certificatesChinoin
DC3Certificates
dc3Certificates
certsMarketplace
certificates.zip
data
excels
*xlsx
*.zip
*.rar
